version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/api"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 2
    labels:
      - "dependencies"
      - "python"
      - "api"
    assignees:
      - "prjkhkted"
    commit-message:
      prefix: "api-deps"
      include: "scope"
    groups:
      minor-and-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
